<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="AppId" value="329491520740087" xdt:Transform="Remove"/>
    <add key="AppSecret" value="8ea81ab690dce6a316a8d9fbd4507d71" xdt:Transform="Remove"/>
    <add xdt:Transform="Insert" key="AppId" value="1619704864998610"/>   
    <add xdt:Transform="Insert" key="AppSecret" value="5f8075e66b7e934e8d67d0cd5fe703c2"/>
  </appSettings>
  <connectionStrings>  
    <add name="ContactWebContext" xdt:Transform="Remove" />
    <add name="ContactWebContext" 
         connectionString="Server=4bf923d7-063c-4615-b321-a6b100f375c9.sqlserver.sequelizer.com;Database=db4bf923d7063c4615b321a6b100f375c9;User Id=jyuwyufwlqavltfg;Password=k4KWpwTyyaojQ3yWAkBHm4oxPDqNgVKErLosL5M8nxB6GckFpkyqsLdqNmgTgfsK;"
         providerName="System.Data.SqlClient" 
         xdt:Transform="Insert" />   
   
    <add name="DefaultConnection" 
         connectionString="Server=4bf923d7-063c-4615-b321-a6b100f375c9.sqlserver.sequelizer.com;Database=db4bf923d7063c4615b321a6b100f375c9;User Id=jyuwyufwlqavltfg;Password=k4KWpwTyyaojQ3yWAkBHm4oxPDqNgVKErLosL5M8nxB6GckFpkyqsLdqNmgTgfsK;" 
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"/> 
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
